ul.sortable {
    border:1px solid #e2e2e2;
    width:100%;
    height:393px;
    display:inline-block;
    vertical-align:top;
    list-style:none;
    padding-left: 0px;
    overflow-x: auto;
}
ul.sortable li {
    cursor: row-resize;
    border: 1px solid #e2e2e2;
    padding: 5px;
    font-weight: 300;
    margin: 4px;
}
ul.sortable li.selected {
    background-color:#FFC104;
    font-weight: bold;
}

.clear-block {
    display: block;
}
